---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
IndentCaseLabels: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
SortIncludes: false
